body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(241, 241, 83);
  color: #771e1e;
  padding: 5px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: #772e1e;
  text-decoration: none;
}
.hero {
  position: relative;
  background-image: url("museumimage/museum0.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #140000;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.dif {
  color: #771e1e;
  font-size: 20px;
}
h2,
.vast,
.state {
  position: relative;
  z-index: 2;
}
h1 {
  font-weight: 300%;
  color: #771e1e;
  font-size: 40px;
}
h2 {
  color: #e7cfcf;
  font-size: 30px;
  text-align: center;
}
.vast {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  font-weight: 300;
}
.diff {
  color: #771e1e;
}
.state {
  font-size: 1.2rem;
  margin: 15px 20px;
  text-align: center;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
}
main {
  background-color: rgb(211, 205, 205);
  padding: 10px;
}
hr {
  border: none;
  height: 5px;
  background-color: #6d1d0b;
  margin-bottom: 20px;
}
.exhibit {
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#about,
#contact {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

p.mu {
  color: #555;
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
  font-size: 12px;
}
.gallery-section {
  margin: 10px;
  background-color: rgb(170, 162, 162);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.description {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  gap: 26px;
}
.gallery img {
  width: 95%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}
.gallery img:hover {
  transform: scale(1.05);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 80%;
  top: 50%;
  transform: translateY(-50%);
}
.modal img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.lar {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .description {
    font-size: 30px;
  }
  .lar {
    font-size: 16px;
  }
  .gallery img {
    width: 85%;
    height: auto;
    align-items: center;
  }
}
